:root {
  --primary-color: #f2c744;
  --light: #f4f6f9;
  --dark: #000;
  --primary-font: 'Shadows Into Light', cursive;
  --secondary-font: 'Dancing Script', cursive;
}
*{
  padding: 0;
  margin: 0;
}
.wrapper{
  width:1500px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid: "header header"
        "content sidebar"
        "footer footer";
  grid-template-columns: 2fr 1fr;
  background-color: var(--light);
  gap: 10px;
}
header {
  grid-area: header;
  text-align: center;
  height: 180px;
}
.content-box{
  box-shadow: 0px 3px 3px 2px lightgray;
}
.logo{
  display: inline-block;
  width: 100px;
}
.logo-sign{
  font-size: 2em;
  font-weight: 700;
  font-family: var(--secondary-font);
}
.sign-under{
  font-family: var(--primary-font);
}
main{
  grid-area: content;
  text-align: center;
  width: 100%;
}
.content-wrapper{
  display: block;
  width: 100%;
  margin: 30px auto;
}
aside{
  grid-area: sidebar;
  text-align: center;

}
.sticky{
  position: sticky;
  top: 190px;
  width: 475px;
  height: 450px;
  padding: 10px;
}
.avatar-wrapper{
  display: inline-block;
  background: url(images/avatar.jpg) center;
  background-size: 140% 100%;
  align-items: stretch;
  width: 120px;
  height: 120px;
}
.avatar{
  display: inline-block;
  -webkit-mask:radial-gradient(circle 60px,transparent 98%,#fff 100%);
  mask:radial-gradient(circle 60px,transparent 98%,#fff 100%);
  background-color: var(--light);
  width: 120px;
  height: 120px;
}
.photo{
  border-radius: 5px;
}
footer {
  grid-area: footer;
  text-align: center;
  height: 180px;
  z-index: 100;
}
footer .logo{
  margin-top: 20px;
  width: 70px;
}
footer .logo-sign{
  font-size: 1em;
}
footer .sign-under{
  font-family: var(--primary-font);
}

/* @media(width: 720px){
  main{
    display: block;
    width: 70%;
  }
} */